body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    position: relative;
}

li {
    list-style: none;
}

/*********************************** header ******************************************/

.header {
    background-image: url(../img/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

/* .header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
} */

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 26px;
}

.header-section {
    height: 120px;
    background-color: #5e5d5899;
    /* z-index: 2; */
}
.header-section-logo {
    z-index: 2;
}
.logo-link {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 6px;
    height: 67px;
    width: 58px;
    position: relative;
}

.h-inside-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-logo-text {
}
.header-logo-first-words {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
}
.header-logo-second-words {
    color: #18cfab;
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
}

.header-nav {
    z-index: 2;
}
.header-nav-list {
    margin: 0;
    display: inline-flex;
    gap: 21px;
}
.header-nav-list-item {
    list-style: none;
}

.header-nav-list-item-a {
    color: #ffffff;
    opacity: 60%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 50px;
}

.header-nav-list-item-a::before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    color: #18cfab;
    transform: scaleX(0);
}

.header-nav-list-item-a:hover {
    color: #18cfab;
    transition: 0.3s;
}

.header-nav-list-item-a:hover::before {
    color: #18cfab;
    width: 100%;
    transition: 0.3s;
    transform: scaleX(1);
}

.main-header-section {
    position: relative;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.header-title {
    margin: 0 auto;
}
.main-header-title-white-text {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-header-title-green-text {
    color: #18cfab;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-header-title {
    font-size: 78px;
    font-weight: 700;
    margin: 22px auto;
    line-height: 78px;
    text-transform: uppercase;
}
.header-title-description {
    font-size: 34px;
    color: #d4d4d4;
    margin: 0 auto;
}

.header-button {
    margin-top: 100px;
    display: inline-flex;
    gap: 26px;
}

.button {
    width: 169px;
    height: 63px;
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 -3px #ffffff;
    position: relative;
}

.button:hover {
    transition: 2s;
    bottom: 3px;
}
.explore-now {
}

.purchase-now {
    background-color: #00cbf6;
}

.button-a {
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

/* .header-search-icon:hover {
    color: #18cfab;
} */
/*************************** our-servise **************************************/

.tile-list {
    display: flex;
}
.tile-list-card {
    width: 25%;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 6px;
}

.tile-list-card:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.tile-list-card:nth-child(even) {
    background-color: #18cfab;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.tile-list-cards-img {
}
.tile-list-cards-description {
    margin-bottom: 110px;
}

.tile-list-cards-description:nth-child(odd) {
    margin-top: 48px;
}

.tile-list-cards-description:nth-child(even) {
    margin-top: 58px;
}

.bem-block-h2 {
    font-weight: 300;
    font-size: 36px;
    text-transform: capitalize;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.our-servise-title {
    margin: 83px auto 101px;
}

.bem-block-h2::after,
.bem-block-h2::before {
    content: "";
    order: 1;
    display: inline-block;
    width: 90px;
    height: 1px;
    background-color: #18cfab;
}
.bem-block-h2::before {
    content: "";
    margin-top: 26px;
    transform: translateX(-6px);
}

.bem-block-h2::after {
    content: "";
    transform: translateX(6px);
}

.our-servise-list {
    display: flex;
}
.our-servise-list-item {
    width: 193px;
    height: 76px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: #18cfab;
}

.our-servise-list-item:hover {
    border: 1.5px solid #18cfab;
    box-sizing: border-box;
}

.our-servise-list-item.active {
    background-color: #18cfab;
    transition: 0.2s;
}

.our-servise-list-item.active .our-servise-list-item-description {
    color: #ffffff;
}

.our-servise-list-item.active::after {
    content: "";
    border: 12px solid transparent;
    border-top: 12px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -22px;
    width: 0;
}

.our-servise-list-item-description {
    font-size: 16px;
    color: #717171;
    text-transform: capitalize;
    font-weight: 300;
}

.our-servise-list-image {
    height: 139px;
    width: 192px;
}

.our-servise-list-description-item {
    display: inline-flex;
    gap: 15px;
    height: 140px;
    display: none;
    margin-bottom: 91px;
    display: none;
}

.our-servise-list-paragrph {
    margin: 0;
    height: 140px;
    overflow: hidden;
}

.our-servise-list-description-item.active {
    display: flex;
}
/**************************** buy-and-instal-block **********************************/

.buy-and-instal {
    background-image: url(../img/buy-and-instal/section-2.jpg);
    height: 476px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buy-and-instal::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.bai-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.bai-title {
    font-weight: 700;
    font-size: 40px;
    color: #18cfab;
    margin: 12px;
}

.bai-title-description {
    font-size: 16px;
    color: #d8d8d8;
    margin: 0 0 67px 0;
}

.bai-purchase {
    display: flex;

    justify-content: center;
}
/**************************** breaking news **********************************/
.breaking-news {
}
.bn-title {
    margin-bottom: 100px;
}
.bn-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 43px 0;
    margin-bottom: 131px;
}
.bn-cards-item {
    position: relative;
    cursor: pointer;
}

.bn-cards-item:hover .bn-cards-item-date {
    background-color: #18cfab;
    transition: 0.3s;
}

.bn-cards-item:hover .bn-cards-item-title {
    color: #18cfab;
    transition: 0.3s;
}

.bn-cards-item-date {
    display: flex;
    flex-direction: column;
    background-color: #203e38;
    width: 70px;
    height: 68px;
    color: #ffffff;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 17px;
    top: 0;
}

.bn-cards-item-date span {
    margin-bottom: 6px;
}
.bn-cards-item-img {
    height: 208px;
}

.bn-cards-item-post-title {
    height: 40px;
    margin: 14px 0 0 15px;
}
.bn-cards-item-title {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    margin: 0;
}
.bn-cards-item-description {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    margin: 5px 0 0 0;
}

/************************ footer *******************************/

.footer {
    height: 121px;
    background-color: #22353f;
}

.footer-description {
    font-weight: 300;
    font-size: 14px;
    color: #aeaeae;
    text-align: center;
    padding: 47px 0;
}

.footer-description span {
    color: #18cfab;
}
